// $mint_medium: #D9FFF0; light-mint
$mint_medium: #c0ffe6; // medium mint
$gray: #3d3d3d;
$black_soft: #222;
$font_1: Averta-Regular, Avenir, Helvetica Neue, Calibri, Helvetica, Roboto, sans-serif;


.left-container {
    width: 15%;
}

.mid-container {
    width: 100%;
    margin: 5% 20% 0;
    max-width: 1160px;

    p {
        font-family: $font_1;
        color: $black_soft;
        font-weight: 600;
        font-size: 2em;
        padding-left: 2px;
    }

    .name-text {
        color: $black_soft;
        font-size: 5.5rem;
        font-family: 'Poppins';
        line-height: 4rem;  
        margin: 4% 0;
        min-width: 600px;
    }

    .second-text {
        color: $gray;
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 2%;
        min-width: 600px;
    }

    .third-text {
        color: $black_soft;
        line-height: 3rem;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 1.7em;
        padding-bottom: 6%;
        width: 600px;
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
        margin: 0;
        padding: 5% 0% 0 10%;
        max-width: 370px;

        p {
            font-weight: 500;
            font-size: 1.5rem;
        }

        .name-text {
            font-size: 2.5rem;
            font-family: 'Poppins';
            line-height: 4rem;  
            margin: 2% 0;
        }

        .third-text {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.8rem;
            width: 100%;
            max-width: 290px;
        }
    }
}

.right-container {
    width: 15%;
}

.Get-In-Touch {
    background-color: $mint_medium;
    color: #3d3d3d;
    border: 1px solid #D3D3D3;
    box-shadow: 0 2px 6px 0 #D3D3D3;
    font-family: $font_1;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 15%;
}

.Get-In-Touch:hover {
    background-color: $mint_medium;
    color: #D3D3D3;
    transition: all 0.5s;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}