$mint_medium: #c0ffe6; // medium mint
$gray: #808080;
$dark_gray: #3d3d3d;
$black_soft: #222;
$font_1: Averta-Regular, Avenir, Helvetica Neue, Calibri, Helvetica, Roboto, sans-serif;
$font_bold: 'Poppins';

.About-Me-Container {
    margin: 23% 0 23% 5%;

    .About-me-header {
        color: $dark_gray;
        font-family: $font_bold;
        font-size: 2rem;
    }

    .About-me-header:before {
        content: "01.";
        margin-right: 10px;
        color: #222;
        font-family: $font_1;
    }

    .About-me-header:after {
        content: "";
        display: block;
        height: 1px;
        width: 350px;
        background-color: #2d3952;
    }


    @media only screen and (max-width: 700px) {
        .About-me-header {
            font-size: 28px;
        }
        .About-me-header:after {
            content: "";
            display: block;
            height: 1px;
            width: 260px;
            background-color: #2d3952;
        }
    }
}



.prof-container {
    display: flex;

    .bio-text {
        width: 47%;
        width: 430px;
        color: $dark_gray;
        max-width: 500px;
        margin-top: 3rem;
        p {
            font-family: sans-serif;
            line-height: 1.8rem;
            font-size: 1.0rem;
            font-weight: 500;
        }
    }
    
    @media only screen and (max-width: 1280px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        justify-content: center;

        .bio-text {
            line-height: 1.5rem;
            font-size: 0.8rem;
            font-weight: 500;
            margin-top: 20px;
            width: 100%;
            max-width: 280px;
        }
    }
}

.profile-pic {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .profile-img {
        width: 90%;
        max-width: 700px;
        padding-left: 30px;
    }

    @media only screen and (max-width: 1280px) {
        align-items: center;
        display: flex;
        justify-content: center;
        .profile-img {
            padding: 10% 0;
            width: 70%;
        }
    }

    @media only screen and (max-width: 900px) {
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 700px) {
        align-items: center;
        display: flex;
        width: 290px;

        .profile-img {
            padding: 10% 0;
            width: 100%;
        }
    }
}

.tech-icons {
    margin: 20px 0 0;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;

    img {
        max-width: 100px;
    }

    #mongo {
        width: 5%;
        padding: .5% 2%;
    }

    @media only screen and (max-width: 1440px) {
        width: 95%;

        #mongo {
          padding: .5% 2.5%;
        }
    }

    @media only screen and (max-width: 1280px) {
        width: 70%;
        padding: 0 20%;
        
        #mongo {
          width: 9%;
          padding: 1.5% 4.5%;
        }
    }

    @media only screen and (max-width: 900px) {
        width: 80%;
        padding: 0 12%;
    
        img {
            width: 20%;
        }
        
        #mongo {
            width: 10%;
            padding: 2% 5%;
        }
    }

    @media only screen and (max-width: 700px) {
        padding: 0 9%;

        img {
            width: 33%;
        }
        
        #mongo {
            width: 20%;
            padding: 0 20px;
        }
    }
}

.abc {
    border: 1px solid $mint_medium;
        position: relative;
    right: -230px;
    width: 40%;
    height: 300px;
    top: 0px;
}

.tech-list-exp {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px 10px;
    list-style: none;

    li {
        display: flex;
        font-family: monospace;
        font-size: 1rem;
        line-height: 1rem;
        align-items: center;
        color: #808080;
    }

    @media only screen and (max-width: 700px) {
        grid-template-columns: repeat(2, minmax(140px, 200px));

        li {
            font-size: 0.8rem;
        }
    }
}


.tech-list {
    padding: 0px;
    margin: 20px 0px 0px 10px;
    list-style: none;

    li {
        display: flex;
        font-family: monospace;
        font-size: 1rem;
        line-height: 1.5rem;
        align-items: center;
        color: #D9FFF0;
    }
}

.tech-item::before {
        content: "▹";
        position: relative;     
        color: $mint_medium;
        font-size: 30px;
        line-height: 1.5rem;
        left: 0px;
        margin-right: 5px;
}

.Experience-Container {
    margin-top: 50%;
    
    .experience-header {
        color: $dark_gray;
        font-family: $font_bold;
        font-size: 2rem;
        margin-bottom: 50px;
    }

    .experience-header:before {
        content: "02.";
        margin-right: 10px;
        color: #222;
        font-family: $font_1;
    }

    .experience-header:after {
        content: "";
        display: block;
        height: 1px;
        width: 350px;
        background-color: #2d3952;
    }

    @media only screen and (max-width: 1280px) {
        .experience-header:after {
            width: 260px;
            font-size: 28px;
        }
    }
}


.proj-1, 
.proj-2 {
    margin-top: 5%;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
    min-height: auto;
    visibility: visible;
    opacity: 1 !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    @media only screen and (max-width: 700px) {
        display: flex;
        flex-wrap: wrap;
        width: 290px;

        .experience-header:after {
            width: 260px;
        }
    }
}

.proj-1-rightside, 
.proj-2-leftside {
        position: relative;
        grid-row: 1 / -1;
        z-index: 2;
        text-align: left;
}

.proj-1-rightside {
    grid-column: 15 / 24;
}

.proj-2-leftside {
    grid-column: 1 / 10;
}

.proj-1-pic-wrapper,
.proj-2-pic-wrapper {
    width: 100%;
    z-index: 1;
    grid-row: 1 / -1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.proj-1-pic-wrapper {
    grid-column: 1 / 17;
}

.proj-2-pic-wrapper {
    grid-column: 7 / 24;
}

.proj-1-pic,
.proj-2-pic {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    filter: grayscale(80%);
    width: 100%;
}


.proj-1-pic:hover,
.proj-2-pic:hover {
    filter: none;
}

.proj-1-links {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    @media only screen and (max-width: 700px) {
        justify-content: flex-start;
    }
}

.feat-header {
    background-color: $mint_medium;
    color: $black_soft;
    border: 1px solid #D3D3D3;
    box-shadow: 0 2px 6px 0 #D3D3D3;
    font-family: $font_1;
    font-size: 1rem;
    padding: 1rem; 
    width: 126px;
}

.Proj-name {
    font-size: 28px;
    color: $black_soft;
    margin: 0px 0px 20px;
    font-weight: bold;

    @media only screen and (max-width: 700px) {
        font-size: 24px;
        font-weight: bold;
    }
}

.proj-description {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    position: relative;
    z-index: 2;
    background-color: #2d343e;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 25px;
    border-radius: 3px;
    width: 86%; 
    
    .proj-description-text {
        font-size: 13px;
        color: #eee;
        text-align: left;
    }

    @media only screen and (max-width: 700px) {
        padding: 10px 15px;  
        width: 100%; 
        .proj-description-text {
            font-size: 0.7rem;
        }
    }

    @media only screen and (max-width: 420px) {
        width: 90%; 
    }
}

.tech-list2 {
    -webkit-box-pack: end;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-right: 30px;
    text-align: right;
    @media only screen and (max-width: 700px) {
        text-align: left;
        padding: 0 0 2%;
    }
}

.tech-items {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 11.5px;
    color: $black_soft;
    margin-bottom: 7px;
    white-space: nowrap;
}

li.tech-items:hover {
    color: $mint_medium;
    cursor: default;
}


.tech-list2-2 {
    -webkit-box-pack: end;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    @media only screen and (max-width: 700px) {
        padding: 0 0 2%;
    }
}

.go-to {
    fill: $dark_gray;
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 20px;
}

.go-to:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    fill: $mint_medium;
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-3px);
}

.noteworthy-projs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.noteworthy-container {
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 150px 0px;
    margin-top: 20px;
}

.header-4 {
    font-weight: 600;
    color: $dark_gray;
    margin: 0px 0px 10px;
    font-size: 32px;
    margin: 0px auto;
    font-family: $font_bold;
    margin-bottom: 10%;

    @media only screen and (max-width: 700px) {
        font-size: 1.5rem;
        margin-bottom: 15%;
    }
}

.note-1 {
    transition-delay: 0ms;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    height: 80%;
}

.note-1:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    fill:$mint_medium;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    text-decoration: none;
    transform: translateY(-10px);
}

.inner-cont {
    width: 250px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 413px;
    background-color: #2d343e;
    padding: 2rem 1.75rem;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    .top-logo-cont {
        min-width: 260px;    
    }
    @media only screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
        max-width: 75%;
    }
}


.folder-svg {
    fill: #D9FFF0;
    width: 40px;
    margin-right: 140px;
    @media only screen and (max-width: 700px) {
        margin-right: 34%;
    }
}

.github-upcoming {
    fill: #eee;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.github-upcoming:hover {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    fill: #D9FFF0;
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    text-decoration: none;
    transform: translateY(-3px);
}

.go-to-upcoming {
    fill: #eee;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.go-to-upcoming:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    fill: #D9FFF0;
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-3px);
}


h5 {
    color: #eee;
    font-size: 22px;
    
}

.descript-note {
    color: #d3d3d3;
    line-height: 1.5rem;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
        width: 80%;
    }
}

.final-part {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: block;
    color: $dark_gray;
    font-size: 32px;
    font-family: $font_bold;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 20px;
    @media only screen and (max-width: 700px) {
        text-align: left;
        font-size: 28px;
    }
}

.final-part::before {
    content: "03.";
    margin-right: 10px;
    font-family: $font_1;
    font-weight: normal;
    color: $dark_gray;
    font-size: 2rem;
    position: relative;
    bottom: 4px;
    text-align: center;
}


.contact-email {
    background-color: $mint_medium;
    color: $dark_gray;
    border: 1px solid #D3D3D3;
    box-shadow: 0 2px 6px 0 #D3D3D3;
    font-family: $font_1;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 15%;
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

}

.contact-email:hover {
    background-color: $mint_medium;
    color: #D3D3D3;
    transition: all 0.5s;
    cursor: pointer;
}

.final-container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .final-text {
        width: 50%;
        font-family: $font_1;
        font-weight: 500;
        text-align: center;
        font-size: 1.2rem;
        line-height: 2rem;
        color: #000;
    }
    @media only screen and (max-width: 700px) {
        padding: 0 11%;
        .final-text {
            width: 100%;
            font-weight: 400;
            font-size: .8rem;
            line-height: 1.2rem;
        }
    }
}

    .credits {
        font-family: $font_1;
        color: $dark_gray;
        background-color: darkgray;
        padding: 2% 0;
        text-align: center;
        @media only screen and (max-width: 700px) {
            font-size: 0.7rem;
        }
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }