
$mint_medium: #c0ffe6; // medium mint
$color_2: rgb(136, 146, 176);
$dark_gray: #3d3d3d;
$font_1: Averta-Regular, Avenir, Helvetica Neue, Calibri, Helvetica, Roboto, sans-serif;

.right-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: -50px;
    z-index: 10;
    color: rgb(168, 178, 209);

    a {
        font-family: $font_1;
        font-size: 14px;
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        margin-left: 43%;

        padding: 10px;
        text-decoration: none;
        color: $dark_gray;
    }
    
    a:hover {
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        fill: $mint_medium;
        display: inline-block;
        text-decoration-skip-ink: auto;
        color: $mint_medium;
        position: relative;
        text-decoration: none;
        transform: translateY(-3px);
        }

    @media only screen and (max-width: 900px) {
        display: none;
    }

}

a:hover {
    cursor: pointer;
}

.right-container::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: $dark_gray;
    margin: 0px auto;
    z-index: 10;
}