body {
	background-color: #fff;
}

.main-container {
  padding: 2rem 5rem;
}

.loading-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.loading-logo {
	height: 300px;
	width: 300px;
	margin: 10% auto;
	transition: 1s ease-out;
}

@media only screen and (max-width: 700px) {
	.loading-logo {
		height: 180px;
		width: 180px;
		margin: 50% auto;
		transition: 1s ease-out;
	}

  .main-container {
    padding: 3rem 1rem; 
  }
}
